*{
    padding: 0;
    margin: 0;
}

.text-center {
    text-align: center;
}

.heading {
    margin-top: 100px;
    color: black;
    font-weight: 700px;
    font-size: 50px;
}

.paragraph {
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500px;
    padding: 30px 0;
}
/* font */
body {
    font-family: 'Poppins', sans-serif;
}
/* Top Banner Div Css Start */
#top-header {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    padding-top: 200px;
    opacity: 0.8;
}

#top-header h1 {
    color: aliceblue;
    letter-spacing: 3px;
    font-size: 70px;
    font-weight: 800;
}

#top-header p {
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin: 30px 0;
}

.donate-now-button {
    margin: 0 auto;
    display: block;
    color: aliceblue;
    padding: 20px;
    background-color: #FF5959;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    letter-spacing: 3px;
    border: 0;

}

.donate-now-button:hover {
    border: 2px solid black;
}

/* Top Banner Div Css END */

/* Donate Today Div CSS Start */

#donate-amount {
    width:100%;
    height:250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount {
    float: left;
    width: 10%;
    background-color: rgb(207, 221, 221);
    margin-left: 20px;
    padding: 40px 30px;
}


.alert {
    background-color: #FFEEEE;
    border: 2px solid #FF6565;
}

#other-amount {
    margin: 0 0 50px 0;
}

form {
    margin: auto;
    width: 800px;
}

form input {
    padding: 20px;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid rgb(207, 221, 221);
}

form input::-webkit-input-placeholder {
    font-size: 30px;
    line-height: 3;
    text-align: center;
    letter-spacing: 3px;
}

/* Donate Today Div CSS End */

/* Donate Plan Div CSS End */
#donate-plan-list {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan {
    float: left;
    width: 20%;
    margin-left: 30px;
    padding: 60px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#food-plan {
    background-color: #EDF5F6;
}

#shelter-plan {
    background-color: #FFEEEE;
}

#education-plan {
    background-color: #FFF4D6;
}

.icon-image {
    height: 80px;
    width: 80px;
}

.plan p {
    line-height: 1.5;
    padding: 20px 0;
}


/* Donate Plan Div CSS End */


/* Event Div CSS Start */

#events {
    padding: 60px;
}
.event-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-list img {
    height: 350px;
    width: 400px;
}

.description {
    width: 40%;
    margin: 50px;
}

.description p {
    font-size: 18px;
    line-height: 1.9;
    text-align: justify;
    letter-spacing: 2px;
}
 .left {
    float: left;
    padding: 15px;
    margin-top: 15px;
 }

/* Event Div CSS End */


/* Newsletter CSS Start */
#form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF4D6;
    height: 300px;
    margin: 50px 500px 200px 500px;
}

#form input {
    padding: 17px;
    width: 30%;
    border: 0;
    background-color: #cad1d2;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#form input::-webkit-input-placeholder {
    font-size: 20px;
}

#form button {
    padding: 14px;
    background-color: #FF5959;
    color: aliceblue;
    border: 0;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


  

/* Footer CSS */
#footer {
    height: 200px;
    background-color: black;
}

#footer h2 {
    color: #FF5959;
    text-align: center;
    padding-top: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    letter-spacing: 3px;
}

#footer h3 {
    color: #EDF5F6;
    text-align: center;
    font-weight: 400;
}


/* Footer End */