*{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.text-center {
    text-align: center;
}
/* font */
body {
    font-family: 'Poppins', sans-serif;
}
/* Top Banner Div Css Start */
.top-header {
    background-image: url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    padding-top: 200px;
    opacity: 0.8;
}

.top-header h1 {
    color: aliceblue;
    letter-spacing: 3px;
    font-size: 70px;
    font-weight: 800;
}

.top-header p {
    color: aliceblue;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin: 30px 0;
}

.donate-now-button {
    margin: 0 auto;
    display: block;
    color: aliceblue;
    padding: 20px;
    background-color: #FF5959;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    letter-spacing: 3px;
    border: 0;
}

.donate-now-button:hover {
    border: 2px solid black;
}

/* Top Banner Div Css END */

/* Donate Today Div CSS Start */
.donate-today {
    padding: 100px 0;
}

.donate-today h1 {
    color: black;
    font-weight: 700px;
    font-size: 50px;
}

.donate-today p {
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500px;
    padding: 30px 0;
}

#donate-amount {
    width:100%;
    margin: 0 auto;
    margin-top:75px;
    height:250px;
    padding: 0 450px;
}

.amount1, .amount2, .amount3, .amount4, .amount5 {
    float: left;
    width: 10%;
    margin-right: 20px;
}
.box{
    height: 100px;
    background-color: #FAFAFA;
    border-radius: 5px;
    padding-top: 50px;
}

.alert {
    background-color: #FFEEEE;
    border: 2px solid #FF6565;
    border-right: black;
}
